__pycache__/
.venv/
.pytest_cache/
Migration
inicializaProjPython.sh
pipeinicializar.txt
todoList.odt
bkp-dockercompose.txt
bkp-requirements.txt
bkp-pyproject.toml

# Python build artifacts
*.egg-info/
build/
dist/

